# Gradle
.gradle/
build/
*/build/
local.properties
*.log

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Native Build
.externalNativeBuild/
.cxx/

# Android captures
captures/

# macOS
.DS_Store
